.titlePage {
  text-align: center;
  color: $primary-color;
  margin-bottom: 50px;
}

.forms {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  input {
    border: none;
    border: 1px solid $primary-color;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 30px;

    &:focus {
      outline: none;
    }
  }

  .containerBtns {
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
    }

    .btnCancel {
      border: 2px solid $primary-color;
      background-color: transparent;
      color: $primary-color;
    }

    .btnAction {
      background-color: $primary-color;
      color: white;
    }
  }

  @include Mobile {
    width: 100%;
  }
}