.content {
  margin: 30px auto;
  min-height: 70vh;
  width: $container-width;

  @include laptopsAndDesktops {
    background-color: yellow;
    width: 100%;
    padding: 0 1.5rem;
  }
}

.containerCenter {
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
