.content {
  margin: 30px auto;
  min-height: 70vh;
  width: $container-width;
}

.containerCenter {
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
