.header {
  background-color: $primary-color;
  max-height: 100px;

  &Container {
    width: $container-width;
    margin: 0 auto;
    padding: 1.5rem 0;
  }

  .title {
    font-size: 4vh;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin: 0;
    width: min-content;

    svg {
      margin-right: 10px;
    }
  }

  @include Desktops {
    &Container {
      width: 100%;
      padding: 1.5rem;
    }

    .title {
      font-size: 3vh;
    }
  }
    
}
