.controlPanel {
  display: flex;

  form {
    display: flex;
    width: 80%;

    input {
      border: 1px solid $primary-color;
      border-right: none;
      border-radius: 20px 0 0 20px;
      font-size: 16px;
      padding: 10px 20px;
      width: 60%;

      &:focus {
        outline: none;
      }

      @include Desktops {
        font-size: 14px;
      }
    }

    select {
      border: none;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      background-color: $secondary-color;
      color: white;
      font-size: 16px;
      padding: 5px;
      width: 10%;

      @include Desktops {
        font-size: 14px;
        width: 15%;
      }

      @include landscapeAndTablets {
        width: 20%;
      }
    }

    button {
      background-color: $primary-color;
      border: none;
      border-radius: 0 20px 20px 0;
      color: white;
      cursor: pointer;
      font-size: 16px;
      width: 20%;

      @include Desktops {
        font-size: 14px;
      }
    }

    @include landscapeAndTablets {
      width: 100%;
    }
  }

  .btnNewUser {
    background-color: $primary-color;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 20%;

    @include Desktops {
      font-size: 14px;
      width: 25%;
    }

    @include landscapeAndTablets {
      display: none;
    }
  }
}
