.containerFloat {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;

  animation: popUp;
  animation-duration: 5s;

  .popup {
    background-color: $primary-color;
    border-radius: 10px;
    color: white;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }
}

@keyframes popUp {
  0% { bottom: -100px }
  10% { bottom: 0 }
  90% { bottom: 0 }
  100% { bottom: -100px }
}
