.table {
  margin: 20px 0;
  width: 100%;

  thead {
    color: white;
    text-align: left;

    tr {
      th {
        background-color: $primary-color;
        padding: 10px;

        &:first-child {
          border-radius: 10px 0 0;
          text-align: center;
        }

        &:last-child {
          border-radius: 0 10px 0 0;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        background-color: rgb(224, 224, 255);
        padding: 10px;

        &:first-child {
          text-align: center;
        }
      }

      .options {
        display: flex;
        justify-content: space-evenly;

        button {
          align-items: center;
          background-color: transparent;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          font-size: 20px;
          justify-content: center;
          padding: 8px;
          visibility: hidden;

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      &:hover {
        td {
          background-color: rgb(232, 232, 255);
        }

        .options {
          button {
            visibility: visible;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-radius: 0 0 0 10px;
          }
        }
      }
    }
  }
}

.containerCardsUsers {
  margin-top: 20px;

  .cardUser {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

    .cardContent {
      display: flex;
      align-items: center;

      .cardIndice {
        background-color: $primary-color;
        border-radius: 50%;
        color: white;
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        font-size: 2.8vw;
      }

      h3, h4 {
        margin: 0;
      }
  
      h3 {
        font-size: 3.5vw;
      }

      h4 {
        font-size: 3vw;
        color: $primary-color;
      }
    }

    .cardUserBtns {
      display: flex;
      z-index: 2;

      button {
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        color: $primary-color;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        justify-content: center;
        padding: 8px;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }
}

.controlPage {
  display: flex;
  justify-content: space-between;

  button {
    background-color: $primary-color;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    z-index: 2;

    &:disabled {
      background-color: rgb(224, 224, 255);
      color: rgb(255, 255, 255);
      cursor: default;
    }

    @include Desktops {
      font-size: 14px;
    }
  }
}
