@import 'variables';

@mixin container {
  max-width: $container-width;
  padding: 1.5rem 0;
  margin: 0 auto;
};

@mixin Desktops {
  @media (max-width: 1280px) {
    @content
  }
};

@mixin landscapeAndTablets {
  @media(max-width: 768px) {
    @content
  }
};

@mixin landscapeAndTablets {
  @media(max-width: 768px) {
    @content
  }
};

@mixin Mobile {
  @media(max-width: 768px) {
    @content
  }
};
